.party {
  height: 25vh;
}

/*pokemon table*/

.pokemonTable {
  overflow-y: auto;
  max-height: 55vh;
  min-height: 30vh;
  margin-bottom: 25px;

}

.pokemonTableButton {
  margin: 0px 0px 0px 10px;
  color: gray;
}

/*weakness Table*/

.Weakness {
  background-color: red;
}
.Strength {
  background-color: green;
}
.Immune {
  background-color: purple;
}

/*filters*/

.nameFilter {
  background-color: #eeb3b3;
  border-radius: 3px;
  border: 2px solid white;
}
.typeFilter {
    background-color: #d5ffd5;
  border-radius: 3px;
    border: 2px solid white;
}
.moveFilter {
    background-color: #b3b3ff;
  border-radius: 3px;
    border: 2px solid white;
}