.party {
  height: 25vh;
}

/*pokemon table*/

.pokemonTable {
  overflow-y: scroll;
  height: 80vh;
  margin-bottom: 25px;

}

.pokemonTableButton {
  margin: 0px 0px 0px 10px;
  color: gray;
}

/*weakness Table*/

.Weakness {
  background-color: red;
}
.Strength {
  background-color: green;
}
.Immune {
  background-color: purple;
}